/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# macOS files
.DS_Store

# Ignore the default SQLite databases
/db/*.sqlite3
/db/*.sqlite3-*

